@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
} */




@keyframes fadeIn { /* ADAPTAR */
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}

.fade1 {
    animation: fadeIn 0.5s ease-in-out; 
}
.fade2 {
    animation: fadeIn 0.7s ease-in-out;
}
.fade3 {
    animation: fadeIn 0.9s ease-in-out;
}
.fade4 {
    animation: fadeIn 1.1s ease-in-out;
}
.fade5 {
    animation: fadeIn 1.3s ease-in-out;
}
.fade6 {
    animation: fadeIn 1.5s ease-in-out;
}
.fade7 {
    animation: fadeIn 1.6s ease-in-out;
}

.zahir {
    align-self: flex-start;
    z-index: 1;
    font-family: 'Patua One', cursive;
    text-shadow: -3px -3px 0px rgb(255, 255, 255);
    font-size: 27px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding-left: 3px;
  
    position: relative;
    top: 2px;
  
    background: url('/fondo-letra.gif') 0 0 / cover no-repeat;
    color: #de466c;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
    filter: saturate(130%);
    -webkit-user-select:none;
    user-select: none;

    /* margin-left: 77px;
    margin-top: 50px;
    margin-bottom: 15px; */
}

/* ADAPT LOGO*/

/* .logo { 
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 15px;
} */

.promptify {
    color: white;
    font-weight:700;
    font-size: 23px;
    font-family: 'Lexend Deca', sans-serif;
}

.words-battle {
    color: rgb(98, 148, 111);
    font-family: 'VT323', monospace;
    font-size: 33px;
    font-weight: bold;
}

.header { /* ADAPT */
    /* outline: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: flex-start;

    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 15px;

    align-items: center;
}

.header img { /* ADAPT */
    width: auto;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.title {
    /* outline: 1px solid red; */
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    /* color: rgb(228, 228, 228); */
    display: inline;
    font-size: 24px;
    font-weight: bolder;

    background: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);
    background: linear-gradient(-60deg,#74fec5 0,#35c3ff 30%,#f97d6f 50%,#76d880 70%,#ebf38b 90%,#6afec0 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));


    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* filter: drop-shadow(0 0 2rem #000); */

    font-family: 'Lexend Deca', sans-serif;
}

.subtitle {
    font-weight: bolder;
    font-size: 19px;
    margin-bottom: 5px;
}

.list {
    margin-bottom: 10px;
    list-style-type: disc;
}

.list li {
    margin-left: 20px;
}

.container {
    /* outline: 1px solid red; */
    width: calc(100% - 150xp);
    height: 100%;
    margin-left: 75px;
    margin-right: 75px;
    padding-bottom: 30px;

    position: relative;
    overflow: scroll;

    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 

}

.container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.project {
    /* outline: 5px solid blue;
    outline-offset: -5px; */
    width: 100%;
    /* min-height: 60%; */
    /* display: flex; */
    /* gap: 15px; */

    column-count: 2;
    column-gap: 12px;
    /* overflow-y: scroll; */

    break-inside: avoid;
    margin-bottom: 250px;

    overscroll-behavior: contain;
}

.post {
    margin: 0;
    grid-template-rows: 1fr auto;
    margin-bottom: 12px;
    break-inside: avoid;
    overflow: hidden;
    border-radius: 15px;

    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter:blur(2px) */

}

.col {
    width: 50%;
    height: 100%;
}

.col img {
    border-radius: 15px;
}

.text {
    background-color: rgba(0, 0, 0, 0.271);
    padding: 15px;
    border-radius: 15px;
}

.content {
    margin-top: 7px;
    color: white;
    font-size: 18px;
    white-space: pre-line;

    white-space: pre-wrap;
    word-wrap: break-word;

    font-family: 'Lexend Deca', sans-serif;
}

.flexed {
    display: flex;
    justify-content: flex-start;
    gap: 45px;
}



/* ============================================================================================================== */

/* .zahir {

    text-shadow: -3px -3px 0px rgb(255, 255, 255);
    font-size: 27px;
    letter-spacing: 1px;
    padding-left: 3px;
    top: 2px;
}

.logo {
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.promptify {
    font-weight:700;
    font-size: 23px;
}

.words-battle {
    font-size: 33px;
}


.title {
    font-size: 24px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    font-size: 19px;
    margin-bottom: 5px;
}

.list {
    margin-bottom: 10px;
}

.list li {
    margin-left: 20px;
}

.container {
    width: calc(100% - 150xp);
    margin-left: 75px;
    margin-right: 75px;
    padding-bottom: 30px;
}


.project {
    column-count: 2;
    column-gap: 12px;
    margin-bottom: 250px;
}

.post {
    margin-bottom: 12px;
    border-radius: 15px;
}


.col img {
    border-radius: 15px;
}

.text {
    padding: 15px;
    border-radius: 15px;
}

.content {
    margin-top: 7px;
    font-size: 19px;
}

.flexed {
    gap: 45px;
} */

@media (max-width: 1600px) {
    .zahir {

        text-shadow: -2px -2px 0px rgb(255, 255, 255);
        font-size: 22px;
        letter-spacing: 1px;
        padding-left: 2px;
        top: 1px;
    }
    
    .header {
        margin-left: 67px;
        margin-top: 42px;
        margin-bottom: 12px;
    }
    
    .promptify {
        font-size: 19px;
    }
    
    .words-battle {
        font-size: 27px;
    }
    
    
    .title {
        font-size: 20px;
    }
    
    .subtitle {
        font-size: 16px;
        margin-bottom: 4px;
    }
    
    .list {
        margin-bottom: 8px;
    }
    
    .list li {
        margin-left: 17px;
    }
    
    .container {
        width: calc(100% - 125px);
        margin-left: 62px;
        margin-right: 62px;
        padding-bottom: 25px;
    }
    
    
    .project {
        column-count: 2;
        column-gap: 10px;
        margin-bottom: 208px;
    }
    
    .post {
        margin-bottom: 10px;
        border-radius: 12px;
    }
    
    
    .col img {
        border-radius: 12px;
    }
    
    .text {
        padding: 12px;
        border-radius: 12px;
    }
    
    .content {
        margin-top: 6px;
        font-size: 15px;
    }
    
    .flexed {
        gap: 37px;
    }
}

@media (max-width: 1366px) {
    .zahir {

        text-shadow: -2px -2px 0px rgb(255, 255, 255);
        font-size: 19px;
        letter-spacing: 1px;
        padding-left: 1px;
        top: 1px;
    }
    
    .header {
        /* outline: 1px solid red; */
        margin-left: 57px;
        margin-top: 36px;
        margin-bottom: 11px;
    }
    
    .promptify {
        font-weight:700;
        font-size: 16px;
    }
    
    .words-battle {
        font-size: 23px;
    }
    
    
    .title {
        font-size: 16px;
    }
    
    .subtitle {
        font-size: 13px;
        margin-bottom: 4px;
    }
    
    .list {
        margin-bottom: 7px;
    }
    
    .list li {
        margin-left: 14px;
    }
    
    .container {
        width: calc(100% - 107px);
        margin-left: 53px;
        margin-right: 53px;
        padding-bottom: 21px;
    }
    
    
    .project {
        column-count: 2;
        column-gap: 9px;
        margin-bottom: 178px;
    }
    
    .post {
        margin-bottom: 9px;
        border-radius: 11px;
    }
    
    
    .col img {
        border-radius: 11px;
    }
    
    .text {
        padding: 11px;
        border-radius: 11px;
    }
    
    .content {
        margin-top: 5px;
        font-size: 13px;
    }
    
    .flexed {
        gap: 32px;
    }
}

@media (max-width: 912px) and (orientation: portrait) {

}

@media (max-width: 500px) and (orientation: portrait) {
    .container {
        width: calc(100% - 28px);
        margin-left: 22px;
        margin-right: 22px;
        padding-bottom: 21px;

        margin-left: 14px;
        margin-right: 14px;

    }

    .header {
        margin-left: 17px;
        margin-top: 15px
    }

    .header img { /* ADAPT */
        width: auto;
        height: 16px;
        margin-left: 15px;
        cursor: pointer;
    }

    .project {
        column-count: 1;
    }

    .text {
        padding: 20px;
    }

    .list li {
        padding-bottom: 3px;
    }

}